{% extends "index.html" %}
  
{% block content %}
  <!--Main layout-->
  <main>
    <div class="container">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6 mb-4">
            <img src="{{ url_for('static', filename='img/main/sementic-main.jpg')}}" class="img-fluid z-depth-1-half"
              alt="">

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h3 class="h3 mb-3">{{ context['intro'][0] }}</h3>
              {% for intro in context['intro'][1:] %}
                  <p>{{ intro }}</p>
              {% endfor %}

            <!-- Main heading -->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Main info-->

      <hr class="my-5">

      <!--Section: Research-->
      <section id="research">

        <h3 class="h3 text-center mb-5">Research</h3>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-12 col-md-12 px-4">

            <!--First row-->
            <h3 class="feature-title"><i class="fas fa-code indigo-text mr-4"></i>Project in the works</h3>
              <ul>
                {% for item in context['progressive project'] %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <h3 class="feature-title"><i class="fas fa-check-circle indigo-text mr-4"></i>Project Achievements</h3>
              <ul >
                {% for item in context['project achievements'] %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            <!--/Second row-->
          </div>
          <!--/Grid column-->


        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Research-->

      <hr class="my-5">

      <!--Section: Publication-->
      <section id="publication">

        <h3 class="h3 text-center mb-5">Publication</h3>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-12 col-md-12 px-4">

            <!--First row-->
            <div class="row">
                <h3 class="feature-title"><i class="fas fa-atlas blue-text mr-4"></i>International Journal</h3>
                  <ul>
                    {% for item in context['international journal'] %}
                        <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
                <h3 class="feature-title"><i class="fas fa-book blue-text mr-4"></i>Korean Journal</h3>
                  <ul >
                    {% for item in context['domestic journal'] %}
                        <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
              </div>
            <!--/Second row-->
          </div>
          <!--/Grid column-->


        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Publication-->

    </div>
  </main>
  <!--Main layout-->
{% endblock %}