{% extends "index.html" %}
  
{% block content %}
  <!--Main layout-->
  <main>
    <div class="container">

      <!--Section: professor-->
      <hr class="my-5">

      <section>

        <h3 class="h3 text-center mb-5">Professor</h3>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column 1-->
          <div class="col-lg-3 col-md-4 col-sm-4">
            <img class="img-fluid z-depth-1-half" src="{{ url_for('static', filename='img/person/김계영.jpg') }}">
            <div style="height:30px"></div>
          </div>
          <!--/Grid column 1-->

          <!--Grid column 2-->
          <div class="col-lg-3 col-md-8 col-sm-8 px-4">
            <!--First row-->
            <div class="row">
              <div class="col-1 mr-2">
                <i class="fas fa-user fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                  <h2 class="feature-title">김계영 <span class="grey-text font-small">Gye-young Kim</span></h2>
                <p>Professor, Soongsil University, School of Software /
                    Director of ITRC High-Speed Video Technology Center</p>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-2">
                <i class="fas fa-envelope fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h3 class="feature-title">Contact</h3>
                <p>
                    TEL: 02-820-0677<br>
                    FAX: 02-822-3622<br>
                    E-mail: gykim11@ssu.ac.kr<br>
                    Office: 서울시 동작구 상도로 369 숭실대학교 정보과학관 527호
                </p>
              </div>
            </div>
            <!--/Second row-->
          </div>
          <!--/Grid column 2-->

          <!--Grid column 3-->
          <div class="col-lg-6 col-md-12 col-sm-12 px-4">
            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-2">
                <i class="fas fa-address-card fa-2x cyan-text"></i>
              </div>
              <div class="col-10">
                <h3 class="feature-title">Career</h3>
                <p>
                    ITRC 초고속영상기술센터 센터장 (2018. 6 ~ )<br>
                    숭실대학교 소프트웨어학부장 (2017. 2 ~ 2019. 1)<br>
                    숭실대학교 소프트웨어교육연구소장 (2017. 2 ~ 2018. 1) <br>
                    ICSMB 2017 학술대회 BEST PAPER (2017. 1)<br>
                    ICSMB 2014 학술대회 BEST PAPER (2017. 4)<br>
                    BK21+ 소프트웨어 보안전문 인재양성 사업단 단장 (2013.9 ~ 2018. 7)<br>
                    소프트웨어전공 주임교수 (2012. 11 ~ 2014. 8)<br>
                    숭실대학교 서울어코드활성화 지원사업단 단장 (2012. 7~ 2014. 7)<br>
                    한국컴퓨터정보학회 공로상 수상 (2011. 7)<br>
                    한국컴퓨터정보학회 학술상 수상 (2011. 1)<br>
                    한국컴퓨터정보학회 논문지 편집위원 (2010. 3 ~ 2012. 2)<br>
                    공학교육인증혁신센터 컴퓨터심화프로그램 PD (2009. 3 ~ 2012. 8)<br>
                    대학IT전공역량강화(NEXT)사업 수행책임자 (2008.9 ~ 2011.2)<br>
                    숭실대학교 연구상 수상 (2006)
                </p>
              </div>
            </div>
            <!--/Third row-->
          </div>
          <!--/Grid column 3-->

        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->

      <hr class="my-5">

      <!--Section: M.S-->
      <section>

        <h2 class="my-5 h3 text-center">M.S</h2>

        <!--Grid row-->
        <div class="row wow fadeIn">
          {% for idx in range(master_list['total']) %}
          <!--Grid column 1-->
          <div class="col-lg-2 col-md-4 col-sm-4 col- p-4">
            <img class="img-fluid z-depth-1-half"
                 src="{{ url_for('static', filename='img/person/' + master_list['image'][idx]) }}">
          </div>
          <!--/Grid column 1-->
          <!--Grid column 2-->
          <div class="col-lg-4 col-md-8 col-sm-8 p-5">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-user fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h3 class="feature-title">{{master_list['name'][idx]}}</h3>
                <p class="grey-text">{{master_list['position'][idx]}}</p>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-envelope fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h4 class="feature-title">Contact</h4>
                <p class="grey-text">
                    {{master_list['contact'][idx]}}
                </p>
              </div>
            </div>
            <!--/Second row-->
          </div>
          <!--/Grid column 2-->
          {% endfor %}
        </div>
        <!--/Grid row-->

      </section>
      <!--/Section: M.S-->

      <hr class="mb-5">

      <!--Section: Alumni phD-->
      <section>

        <h3 class="my-5 h3 text-center">Alumni</h3>
        <h4 class="my-5 h4 text-left">Ph.D</h4>

        <!--Grid row-->
        <div class="row wow fadeIn">
          {% for idx in range(alumni_phD_list['total']) %}
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 col-sm-12 p-3">
            <!--row-->
            <div class="row">
              <div class="col-3">
                <img class="img-fluid z-depth-1-half"
                     src="{{ url_for('static', filename='img/person/' + alumni_phD_list['image'][idx]) }}">
              </div>
              <div class="col-1">
                <i class="fas fa-user fa-2x indigo-text"></i>
              </div>
              <div class="col-7">
                <h3 class="feature-title">{{alumni_phD_list['name'][idx]}}</h3>
                <p class="grey-text">{{alumni_phD_list['position'][idx]}}</p>
              </div>
            </div>
            <!--/row-->
          </div>
          <!--/Grid column-->
          {% endfor %}
        </div>
        <!--/Grid row-->
      </section>
      <!--/Section: Alumni phD-->

      <!--Section: Alumni M.S-->
      <section>

        <h4 class="my-5 h4 text-left">M.S</h4>

        <!--Grid row-->
        <div class="row wow fadeIn">
          {% for idx in range(alumni_ms_list['total']) %}
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 col-sm-12 p-3">
            <!--row-->
            <div class="row">
              <div class="col-3">
                <img class="img-fluid z-depth-1-half"
                     src="{{ url_for('static', filename='img/person/' + alumni_ms_list['image'][idx]) }}">
              </div>
              <div class="col-1">
                <i class="fas fa-user fa-2x indigo-text"></i>
              </div>
              <div class="col-7">
                <h3 class="feature-title">{{alumni_ms_list['name'][idx]}}</h3>
                <p class="grey-text">{{alumni_ms_list['position'][idx]}}</p>
              </div>
            </div>
            <!--/row-->
          </div>
          <!--/Grid column-->
          {% endfor %}
        </div>
        <!--/Grid row-->
      </section>
      <!--/Section: Alumni M.S-->

    </div>
  </main>
  <!--Main layout-->
{% endblock %}